# Base de datos PostgreSQL local
DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/nexaerp_db?schema=public"

# Opcionals
JWT_SECRET="cambia_esta_clave_por_una_generada_segura"
NODE_ENV="development"
